@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">PetShop Admin Paneli</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li style="color: #88cb23;" class="breadcrumb-item"><a style="color: #88cb23;" href="/"><i style="color: #88cb23;" class="fas fa-home"></i> Home</a></li>
                    <li style="color: #88cb23;" class="breadcrumb-item active">PetShop</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>