<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PET_GIDA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/PET_GIDA.styles.css" asp-append-version="true" /> *@

    @await RenderSectionAsync("Styles", required: false)

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Page Preloder -->


    <!-- Header Section Begin -->
    <header class="header ">
        @* <div class="header__top">
            <div class="container">
            <div class="row">
            <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
            <ul>
            <li><i class="fa fa-envelope"></i> pet@@.com</li>
            <li>Free Shipping for all Order of $99</li>
            </ul>
            </div>
            </div>
            <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
            <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
            <img src="img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
            <li><a href="#">Spanis</a></li>
            <li><a href="#">Turkish</a></li>
            <li><a href="#">English</a></li>
            </ul>
            </div>
            <div class="header__top__right__auth">
            <a href="/Home/Login"><i class="fa fa-user"></i> Giriş</a>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div> *@
                        <nav class="header__menu">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img style="filter: hue-rotate(210deg);"
                                src="https://img.icons8.com/nolan/64/shop-location.png" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Ana sayfa</a></li>
                            <li><a href="/Home/Urunler">Market</a></li>
                            <li><a href="#">Sayfalar</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/Home/Login">Login</a></li>
                                    <li><a href="/Home/Sepet">Sepet</a></li>
                                    <li><a href="/Home/Fnish">Sipariş ver</a></li>
                                </ul>
                            </li>
                            <li><a href="/Home/Contact">Contact</a></li>
                            <li><a href="/Home/Siparislerim">Sipariş Tabiki</a></li>
                            <li>

                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <div class="justify-content-end">@await Component.InvokeAsync("Kullanici")</div>
                            @* <li><a href="/Home/Login"><i class="fa fa-user"></i></a></li> *@
                        </ul>
                        <ul>
                            <li><a href="/Home/Sepet"><i class="fa fa-shopping-bag"></i> <span id="shopingCartItemCount">0</span></a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/Home/Siparislerim">Siparişlerim</a></li>
                                <li><a href="/Home/Sepet">Sepet</a></li>
                            </ul>
                            </li>
                        </ul>
                        <a href="/Home/Sepet">
                            <div class="header__cart__price">Sepet: <span>$</span><span
                                    id="shopingCartItemPrice">0</span></div>
                        </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                <a href="/Home/Login"><i class="fa fa-user"></i> GİRİŞ</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Ana sayfa</a></li>
                <li><a href="/Home/Urunler">Market</a></li>
                <li><a href="">Sayfalar</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/Home/Login">Login</a></li>
                        <li><a href="/Home/Sepet">Sepetim</a></li>
                        <li><a href="/Home/Fnish">Sipariş Ver</a></li>
                    </ul>
                </li>
                <li><a href="/Home/Contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.pinterest.com"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Humberger End -->

    @RenderBody()


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Mecidiyeköy-İstanbul</li>
                            <li>Tell: +65 11.188.888</li>
                            <li>Email: petgida@hotmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <div class="harita mapouter col-3">
                            <div class="gmap_canvas"><iframe width="800" height="150" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Infotech%20Academy%20Yaz%C4%B1l%C4%B1m%20Kursu%20(%C5%9Ei%C5%9Fli/Mecidiyek%C3%B6y%20%C5%9Eube),%20Fulya,%20Garaj%20soka%C4%9F%C4%B1%20No:3/5,%2034394%20%C5%9Ei%C5%9Fli/%C4%B0stanbul&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://123movies-to.org"></a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 150px;
                                        width: 800px;
                                    }
                                </style><a href="https://www.embedgooglemap.net"></a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 150px;
                                        width: 800px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Nocopyright
                                <script>document.write(new Date().getFullYear());</script> Mert Tunç & Ali Rıza <i
                                    class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                    target="_blank">SAVT</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->





    <!-- Js Plugins -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@



    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
